* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-block {
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    height: auto;
    padding-bottom: 50px;
}

.header-container {
    margin: 0px auto;
    padding: 25px 10px;
    height: 25px;
    width: 75%;
    display: flex;
    list-style: none;
    flex-direction: row;
    flex: 1;
    justify-content:center;
    align-items: center;
    gap: 30px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.hero-container {
    display: flex;
    margin: 50px auto;
    width: 75%;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.hero-item {
    flex-basis: 50%;
    text-align: left;
}

.hero-content {
    margin-top: 7px;
    margin-bottom: 7px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button-s {
    background-color: #3882F6;
    border: 0;
    padding: 10px 30px;
    border-radius: 7px;
    color: #f9faf8;
    font-weight: bold;
}

.placeholder-image {
    height: 75%;
    width: 75%;
}

.second-block {
    background-color: #f9faf8;
    margin: 0;
    padding: 0;
    height: auto;
    padding-bottom: 50px;
}

.info-container {
    display: flex;
    margin: 50px auto;
    width: 75%;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.second-block h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    color: #1f2937;
}

.info-item {
    flex-basis: 1;
}

.info-item img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.third-block {
    background-color: #E5E7EB;
    color: #1f2937;
    margin: 0;
    padding: 0;
    height: auto;

}

.quote-container {
    margin: 0 auto;
    width: 75%;
    height: 150px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-item {
    font-size: 36px;
    font-style: oblique;
    color: #1f2937;
}

.forth-block {
    background-color: #f9faf8;
    color: #1f2937;
    margin: 0;
    padding: 0;
    height: auto;
}

.call-action-container{
    margin: 50px auto;
    padding: 20px;
    width: 75%;
    height: auto;
    gap: 180px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
}

.button-signup {
    border: 3px solid #f9faf8;
}

.fifth-block {
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    padding: 20px;
}
